[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kshrivastav519
[access "refs/for/refs/*"]
	read = group user/kshrivastav519
	push = group user/kshrivastav519
	label-Code-Review = -2..+2 group user/kshrivastav519
	label-Verified = -1..+1 group user/kshrivastav519
	rebase = group user/kshrivastav519
	removeReviewer = group user/kshrivastav519
	submit = group user/kshrivastav519
[access "refs/heads/*"]
	read = group user/kshrivastav519
	create = group user/kshrivastav519
	push = +force group user/kshrivastav519
	pushMerge = group user/kshrivastav519
[access "refs/tags/*"]
	push = group user/kshrivastav519
	push = +force group user/kshrivastav519
